EXPO_PUBLIC_SUPABASE_URL=https://SEU_PROJETO.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anonima
EXPO_PUBLIC_API_URL=http://SEU_IP:3000/api/v1
EXPO_PUBLIC_BRAPI_TOKEN=seu_token_brapi
EXPO_PUBLIC_CORE_API_URL=http://SEU_IP:4000/api/v1
